<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /*
  ~  *  Copyright © 2016 @ Fernando Souto Gonzalez
  ~  *  Copyright © 2017 @ Pablo Grela, Fernando Souto Gonzalez
  ~  *
  ~  * Developer Fernando Souto
  ~  *
  ~  * Licensed under the Apache License, Version 2.0 (the "License");
  ~  * you may not use this file except in compliance with the License.
  ~  * You may obtain a copy of the License at
  ~  *
  ~  * http://www.apache.org/licenses/LICENSE-2.0
  ~  *
  ~  * Unless required by applicable law or agreed to in writing, software
  ~  * distributed under the License is distributed on an "AS IS" BASIS,
  ~  * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~  * See the License for the specific language governing permissions and
  ~  * limitations under the License.
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="justforcommunity.radiocom">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="false"></uses-feature>

    <application
        xmlns:tools="http://schemas.android.com/tools"
        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_cuac"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name="justforcommunity.radiocom.activities.App"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.Splash"
            android:label="@string/app_name"
            android:noHistory="true"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.Tutorial"
            android:label="@string/app_name"
            android:noHistory="true"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.Home"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.Gallery"
            android:label="@string/gallery"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.ContentDetail"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.Podcast"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.Report"
            android:label="@string/report_activity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.CreateReport"
            android:label="@string/report_activity_create"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.Book"
            android:label="@string/book_activity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.CreateBook"
            android:label="@string/book_activity_create"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.Authenticate"
            android:label="@string/authenticate"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.ResetPassword"
            android:label="@string/reset_password"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <service
            android:name=".utils.StreamingService"
            android:configChanges="orientation|screenSize"
            android:stopWithTask="false"
            android:enabled="true" />

        <service
            android:name=".utils.PodcastingService"
            android:configChanges="orientation|screenSize"
            android:stopWithTask="false"
            android:enabled="true" />
        <service
            android:name=".utils.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <!-- Default image to notifications push -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_launcher" />

    </application>

</manifest>